Repository erin-hughes/book-review-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:ts, yarn lint:scss, markdown-toc -i

feat: add March 2024 review and custom Quote component for review text
  app/components/OverviewCard/OverviewCard.tsx
  app/components/Quote/Quote.css
  app/components/Quote/Quote.tsx
  app/data/quotes.ts
  app/reviews/[slug]/page.tsx
  package.json
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  yarn.lock
Due: yarn lint:ts

fix: update source code link
  app/components/Sidebar/Sidebar.tsx
Due: yarn lint:ts

feat: add March 2024 review (#12)
  app/components/OverviewCard/OverviewCard.tsx
  app/components/Quote/Quote.css
  app/components/Quote/Quote.tsx
  app/components/Sidebar/Sidebar.tsx
  app/data/quotes.ts
  app/reviews/[slug]/page.tsx
  package.json
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  yarn.lock
Due: yarn lint:ts

feat: add April 2024 review
  reviews/2024-04-the-shining.md
Due: none

fix: update quotes.ts, run prettier
  app/data/quotes.ts
  reviews/2024-03-the-midnight-library.md
Due: yarn lint:ts

fix: update quote components in markdown
  app/components/ArticleQuote/ArticleQuote.tsx
  app/components/ArticleQuote/ArticleQuoteProps.ts
  app/components/PullQuote/PullQuote.css
  app/components/PullQuote/PullQuote.tsx
  app/components/PullQuote/PullQuoteProps.ts
  app/components/Quote/Quote.tsx
  app/data/quotes.ts
  app/reviews/[slug]/page.tsx
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
Due: yarn lint:ts

feat: add April 2024 review (#13)
  app/components/ArticleQuote/ArticleQuote.tsx
  app/components/ArticleQuote/ArticleQuoteProps.ts
  app/components/PullQuote/PullQuote.css
  app/components/PullQuote/PullQuote.tsx
  app/components/PullQuote/PullQuoteProps.ts
  app/components/Quote/Quote.tsx
  app/data/quotes.ts
  app/reviews/[slug]/page.tsx
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
Due: yarn lint:ts

feat: add November 2024 placeholder
  public/images/covers/vicious.webp
  reviews/2024-11-vicious.md
Due: none

feat: add November 2024 placeholder (#14)
  public/images/covers/vicious.webp
  reviews/2024-11-vicious.md
Due: none

fix: typos
  README.md
  cspell.json
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
Due: markdown-toc -i

fix: typos (#15)
  README.md
  cspell.json
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
Due: markdown-toc -i

feat: begin acotar review
  reviews/2024-05-a-court-of-thorns-and-roses.md
Due: none

feat: add December 2024 placeholder, update readme
  README.md
  cspell.json
  public/images/covers/legends-and-lattes.webp
  reviews/2024-12-legends-and-lattes.md
Due: markdown-toc -i

feat: add December 2024 placeholder, update readme (#16)
  README.md
  cspell.json
  public/images/covers/legends-and-lattes.webp
  reviews/2024-12-legends-and-lattes.md
Due: markdown-toc -i

feat: complete May 2024 review
  app/data/quotes.ts
  cspell.json
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
  reviews/2024-05-a-court-of-thorns-and-roses.md
Due: yarn lint:ts

feat: add May 2024 review (#17)
  app/data/quotes.ts
  cspell.json
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
  reviews/2024-05-a-court-of-thorns-and-roses.md
Due: yarn lint:ts

feat: add placeholders for Jan and Feb 2025
  app/components/OverviewCard/OverviewCard.tsx
  public/images/covers/a-magical-girl-retires.webp
  public/images/covers/the-doctor-who-fooled-the-world.webp
  reviews/2025-01-the-doctor-who-fooled-the-world.md
  reviews/2025-02-a-magical-girl-retires.md
Due: yarn lint:ts

feat: add placeholders for Jan and Feb 2025 (#18)
  app/components/OverviewCard/OverviewCard.tsx
  public/images/covers/a-magical-girl-retires.webp
  public/images/covers/the-doctor-who-fooled-the-world.webp
  reviews/2025-01-the-doctor-who-fooled-the-world.md
  reviews/2025-02-a-magical-girl-retires.md
Due: yarn lint:ts

feat: add placeholders for Spring 2025
  app/data/quotes.ts
  public/images/covers/brotherhood.webp
  public/images/covers/chess.webp
  public/images/covers/sky-daddy.webp
  reviews/2025-03-chess.md
  reviews/2025-04-sky-daddy.md
  reviews/2025-05-brotherhood.md
Due: yarn lint:ts

feat: add placeholders for Spring 2025 (#19)
  app/data/quotes.ts
  public/images/covers/brotherhood.webp
  public/images/covers/chess.webp
  public/images/covers/sky-daddy.webp
  reviews/2025-03-chess.md
  reviews/2025-04-sky-daddy.md
  reviews/2025-05-brotherhood.md
Due: yarn lint:ts

feat: start american psycho review
  reviews/2024-05-a-court-of-thorns-and-roses.md
  reviews/2024-06-american-psycho.md
Due: none

feat: bulk of review
  reviews/2024-06-american-psycho.md
Due: none

feat: finish american psycho review
  reviews/2024-06-american-psycho.md
Due: none

fix: update cspell
  cspell.json
Due: none

feat: add American Psycho review (#20)
  cspell.json
  reviews/2024-05-a-court-of-thorns-and-roses.md
  reviews/2024-06-american-psycho.md
Due: none

feat: add summer 2025 placeholders
  app/data/quotes.ts
  public/images/covers/accelerate.webp
  public/images/covers/atmosphere.webp
  public/images/covers/the-haunting-of-hill-house.webp
  reviews/2025-06-accelerate.md
  reviews/2025-07-the-haunting-of-hill-house.md
  reviews/2025-08-atmosphere.md
Due: yarn lint:ts

feat: add placeholders for Summer 2025 (#21)
  app/data/quotes.ts
  public/images/covers/accelerate.webp
  public/images/covers/atmosphere.webp
  public/images/covers/the-haunting-of-hill-house.webp
  reviews/2025-06-accelerate.md
  reviews/2025-07-the-haunting-of-hill-house.md
  reviews/2025-08-atmosphere.md
Due: yarn lint:ts

Path conditions:
  yarn lint:js: any of: *.{js,jsx,mjs}
  yarn lint:ts: any of: *.{ts,tsx}
  yarn lint:scss: any of: *.scss
  markdown-toc -i: any of: ./README.md
