Repository erin-hughes/book-review-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:ts, yarn lint:scss, markdown-toc -i

.lintstagedrc:

{
  "*.{js,jsx,mjs}": ["yarn lint:js"],
  "*.{ts,tsx}": ["yarn lint:ts"],
  "*.scss": ["yarn lint:scss"],
  "./README.md": ["markdown-toc -i"]
}

feat: add build action
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: none

fix: update yarn.lock
  yarn.lock
Due: none

feat: add build action (#1)
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: none

feat: add action to deploy to github pages
  .github/workflows/build.yml
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

feat: add action to deploy to github pages (#2)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: add permissions to publish action
  .github/workflows/publish.yml
Due: none

fix: add permissions to publish action (#3)
  .github/workflows/publish.yml
Due: none

fix: update next public base path
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: update next public base path (#4)
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: update build script with static export
  package.json
Due: none

fix: deploy on PR for debugging
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
Due: none

fix: remove env from build step
  .github/workflows/publish.yml
Due: none

fix: remove step from publish yml
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: deploy on merge only
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

fix: update deploy (#5)
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: get images rendering as expected
  .github/workflows/build.yml
  .github/workflows/publish.yml
  next.config.mjs
Due: yarn lint:js

fix: switch to next images
  app/components/ReviewCard/ReviewCard.tsx
  next.config.mjs
  utils/formatImagePath.ts
Due: yarn lint:js, yarn lint:ts

fix: filter out incomplete reviews
  utils/reviewParsing.ts
Due: yarn lint:ts

fix: test hardcoding image path
  app/components/ReviewCard/ReviewCard.tsx
Due: yarn lint:ts

fix: test image path util
  .github/workflows/publish.yml
  app/components/Header/Header.tsx
  app/components/ReviewCard/ReviewCard.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  next.config.mjs
  utils/formatImagePath.ts
  utils/reviewParsing.ts
Due: yarn lint:js, yarn lint:ts

fix: add missing slash
  app/components/Header/Header.tsx
Due: yarn lint:ts

fix: get images rendering as expected (#6)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  app/components/Header/Header.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  next.config.mjs
  utils/formatImagePath.ts
Due: yarn lint:js, yarn lint:ts

fix: random quote generation
  app/components/RandomQuote/RandomQuote.tsx
  app/data/quotes.ts
  interfaces/Quote.ts
  utils/getRandomQuote.ts
Due: yarn lint:ts

fix: only deploy on merge
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

fix: filter out incomplete reviews
  .github/workflows/build.yml
  utils/reviewParsing.ts
Due: yarn lint:ts

fix: random quote generation (#7)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  app/components/RandomQuote/RandomQuote.tsx
  app/data/quotes.ts
  interfaces/Quote.ts
  utils/getRandomQuote.ts
  utils/reviewParsing.ts
Due: yarn lint:ts

feat: january review text
  app/components/Header/Header.tsx
  app/globals.css
  app/reviews/[slug]/page.tsx
  cspell.json
  package.json
  public/images/plaid-roses.png
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  yarn.lock
Due: yarn lint:ts

feat: add overview component
  app/components/OverviewCard/OverviewCard.tsx
  app/data/quotes.ts
  app/globals.css
  app/reviews/[slug]/page.tsx
  cspell.json
  package.json
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
  reviews/2024-05-a-court-of-thorns-and-roses.md
  reviews/2024-06-american-psycho.md
  reviews/2024-07-chocolate-chip-cookie-murder.md
  reviews/2024-08-the-serpent-and-the-wings-of-night.md
  reviews/2024-09-assistant-to-the-villain.md
  reviews/2024-10-the-last-wish.md
  utils/reviewParsing.ts
  yarn.lock
Due: yarn lint:ts

feat: add January 2024 review and OverviewCard component (#8)
  app/components/Header/Header.tsx
  app/components/OverviewCard/OverviewCard.tsx
  app/data/quotes.ts
  app/globals.css
  app/reviews/[slug]/page.tsx
  cspell.json
  package.json
  public/images/plaid-roses.png
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
  reviews/2024-03-the-midnight-library.md
  reviews/2024-04-the-shining.md
  reviews/2024-05-a-court-of-thorns-and-roses.md
  reviews/2024-06-american-psycho.md
  reviews/2024-07-chocolate-chip-cookie-murder.md
  reviews/2024-08-the-serpent-and-the-wings-of-night.md
  reviews/2024-09-assistant-to-the-villain.md
  reviews/2024-10-the-last-wish.md
  utils/reviewParsing.ts
  yarn.lock
Due: yarn lint:ts

fix: convert images to webp
  app/components/Header/Header.tsx
  app/components/OverviewCard/OverviewCard.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  app/reviews/[slug]/page.tsx
  public/images/covers/a-court-of-thorns-and-roses.jpg
  public/images/covers/a-court-of-thorns-and-roses.webp
  public/images/covers/a-sign-of-affection.jpg
  public/images/covers/a-sign-of-affection.webp
  public/images/covers/american-psycho.jpg
  public/images/covers/american-psycho.webp
  public/images/covers/assistant-to-the-villain.jpg
  public/images/covers/assistant-to-the-villain.webp
  public/images/covers/chocolate-chip-cookie-murder.jpg
  public/images/covers/chocolate-chip-cookie-murder.webp
  public/images/covers/the-dead-take-the-a-train.jpg
  public/images/covers/the-dead-take-the-a-train.webp
  public/images/covers/the-last-wish.jpg
  public/images/covers/the-last-wish.webp
  public/images/covers/the-midnight-library.jpg
  public/images/covers/the-midnight-library.webp
  public/images/covers/the-serpent-and-the-wings-of-night.jpg
  public/images/covers/the-serpent-and-the-wings-of-night.webp
  public/images/covers/the-shining.jpg
  public/images/covers/the-shining.webp
  public/images/plaid-roses.png
  public/images/plaid-roses.webp
Due: yarn lint:ts

fix: load fonts in html head
  app/globals.css
  app/layout.tsx
Due: yarn lint:ts

ci: temp deploy on pull request to test loading improvements
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

fix: add quote animation, remove unneeded font files
  app/components/RandomQuote/RandomQuote.tsx
  app/fonts/GeistMonoVF.woff
  app/fonts/GeistVF.woff
  tailwind.config.ts
Due: yarn lint:ts

fix: update link stylings
  app/components/Sidebar/Sidebar.tsx
  app/globals.css
Due: yarn lint:ts

ci: deploy on merge
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

fix: address performance issues on first page load (#9)
  app/components/Header/Header.tsx
  app/components/OverviewCard/OverviewCard.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  app/components/Sidebar/Sidebar.tsx
  app/fonts/GeistMonoVF.woff
  app/fonts/GeistVF.woff
  app/globals.css
  app/layout.tsx
  app/reviews/[slug]/page.tsx
  public/images/covers/a-court-of-thorns-and-roses.jpg
  public/images/covers/a-court-of-thorns-and-roses.webp
  public/images/covers/a-sign-of-affection.jpg
  public/images/covers/a-sign-of-affection.webp
  public/images/covers/american-psycho.jpg
  public/images/covers/american-psycho.webp
  public/images/covers/assistant-to-the-villain.jpg
  public/images/covers/assistant-to-the-villain.webp
  public/images/covers/chocolate-chip-cookie-murder.jpg
  public/images/covers/chocolate-chip-cookie-murder.webp
  public/images/covers/the-dead-take-the-a-train.jpg
  public/images/covers/the-dead-take-the-a-train.webp
  public/images/covers/the-last-wish.jpg
  public/images/covers/the-last-wish.webp
  public/images/covers/the-midnight-library.jpg
  public/images/covers/the-midnight-library.webp
  public/images/covers/the-serpent-and-the-wings-of-night.jpg
  public/images/covers/the-serpent-and-the-wings-of-night.webp
  public/images/covers/the-shining.jpg
  public/images/covers/the-shining.webp
  public/images/plaid-roses.png
  public/images/plaid-roses.webp
  tailwind.config.ts
Due: yarn lint:ts

fix: add interfaces
  app/components/OverviewCard/OverviewCard.tsx
  app/components/OverviewCard/interfaces/OverviewCardProps.ts
  app/components/RandomQuote/RandomQuote.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  app/components/ReviewCardGroup/interfaces/ReviewCardGroupProps.ts
  app/layout.tsx
  app/reviews/[slug]/page.tsx
  interfaces/Review.ts
  tailwind.config.ts
  utils/reviewParsing.ts
Due: yarn lint:ts

fix: add interfaces (#10)
  app/components/OverviewCard/OverviewCard.tsx
  app/components/OverviewCard/interfaces/OverviewCardProps.ts
  app/components/RandomQuote/RandomQuote.tsx
  app/components/ReviewCardGroup/ReviewCardGroup.tsx
  app/components/ReviewCardGroup/interfaces/ReviewCardGroupProps.ts
  app/layout.tsx
  app/reviews/[slug]/page.tsx
  interfaces/Review.ts
  tailwind.config.ts
  utils/reviewParsing.ts
Due: yarn lint:ts

feat: add February 2024 review
  cspell.json
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
Due: none

feat: add February 2024 review (#11)
  cspell.json
  reviews/2024-01-the-dead-take-the-a-train.md
  reviews/2024-02-a-sign-of-affection.md
Due: none
